/**
 * components mobile menu
 *
 */

.c-menu {
    @extend %bgc-tertiary;
    
}

.c-menu__close {
   @extend %bgc-primary;
    height: auto;
}


#c-menu--slide-left {

    .c-menu__items {
        li {
            padding:0;
            a {
                font-weight: normal;
                padding: 15px 60px 15px 24px;
                border-bottom:1px solid rgba(0,0,0,.12);
                &:hover,
                &:focus {
                    background: transparent;
                    @extend %color-primary;
                }
            }
        }

        ul {
            margin-left: 0;
            margin-bottom: 0;
            padding: 0;
            li {
                a {

                }

                &::before {
                    display: none;
                }
            }
        }
        ul.children,
        ul.sub-menu {
            background: rgba(255,255,255,.05);
            a {
                &::before {
                    display: none;
                }
            }
        }
    }
}


#mobile-menu {
    .has-child {
        @extend %pos-r;
        > ul {
            opacity: 1;
            visibility: visible;
            width: auto;
            display: none;
            @include cx-transition(none);
            @extend %pos-r;
        }
        .drawer-toggle {
            display: inline-block;
            top: 0;
            right: 0;
            padding: 0;
            width: 60px;
            height: 48px;
            text-align: center;
            z-index: 9999;
            border: 0;
            @extend %pos-a;

            i {
                margin: auto;
                top: 33%;
                left: 0;
                right: 0;
                color: #fff;
                @include cx-transition(transform .3s ease-out);
                @extend %pos-a;
            }
        }
        &.open {
            > .drawer-toggle {
                i {
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.header-element-dark {
    .primary-nav-details {
        @extend %color-black;
    }
}