/**
 * Layout Blog
 *
 */

.post-item:not(.sticky) {
	.post-content-wrapper {
		border-bottom-width: 1px;
		border-bottom-style: dashed;
		@extend %border-default;
		@extend %pb-half;
		@extend %mb-half;
	}

	&:last-child {
		.post-content-wrapper {
			border-bottom: 0;
			@extend %pb0;
			@extend %mb0;
		}
	}
}

.sticky {
	&.post-item {
		border-bottom-width: 1px;
		border-bottom-style: dashed;
		@extend %border-default;
		@extend %mb-half;
	}

	.post-content-wrapper {
		padding: 20px;
		@extend %bgc-offset;
	}

	.post-title {
		padding-top: 35px;
		@extend .pos-r;

		span {
			top: 0;
			left: 0;
			font-family: $cx-body-font;
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			padding: 4px 9px;
			@extend %bgc-primary;
			@extend %color-white;
			@extend .pos-a;

			&::after {
				content: "\f17e";
			    font-family: Ionicons;
			    top: 1px;
			    left: 0;
			    padding-left: 10px;
			    font-size: 13px;
			    @extend %color-white;
			}
		}
	}
}

.blog,
.archive {
	.format-status {
		.post-title {
			@extend %visuallyhidden;
		}
	}
}

#comments {
	@extend %mb-full;
}